body {
    padding-top: 100px;
}

.carousel-inner>.item {
    min-height: 400px;
    background-size: cover;
    background-position: center center
}


/* Navbar header*/

nav {
    padding-top: 30px;
    padding-bottom: 30px;
}

.row {
    padding-top: 20px;
    padding-left: 400px;
    padding-bottom: 40px;
}

.role {
    padding-left: 400px;
}

.tab-pane {
    min-height: 200px;
    padding-left: 20px;
}


/*
 Primo tentativo del footer (si puo eliminare)
.footer {
    min-height: 200px;
    background: #333;
}*/

#bottoneLogin {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 400px;
}


/*-------------------------------------------
                 animazioni
  -------------------------------------------*/

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}


/* effetto fadeInLeftBig */

@keyframes fadeInLeftBig {
    from {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeftBig {
    animation-name: fadeInLeftBig;
}


/* n effetto bounceInUp*/

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    75% {
        transform: translate3d(0, 10px, 0);
    }
    90% {
        transform: translate3d(0, -5px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    animation-name: bounceInUp;
}


/* colore dello sfondo del footer
   colore del testo con cui scrivo dentro al Footer */

#contacts {
    background-color: #333;
    color: beige;
}

.jumbotron {
    margin-bottom: 10px;
    ;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}